<html><head>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>Register for Get It Done!</h1>
    <form action="/register" method="post">
        <table>
            <tbody><tr>
                <td><label for="Email">Email</label></td>
                <td>
                    <input name="username" value="" type="text">

                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">

                </td>
            </tr>
            <tr>
                <td><label for="verify">Verify Password</label></td>
                <td>
                    <input name="verify" type="password">

                </td>
            </tr>
        </tbody></table>
        <input type="submit">
    </form>

</body></html>